.title {
    display: flex;
}

#change-trail {
    align-self: end;
    margin-bottom: 1%;
    margin-left: 1%;
}

.changeCampBtn {
    width: 90%;
    display: block;
    margin: auto;
}

.route-table {
    margin-top: 20px;
    table-layout: fixed;
    word-wrap: break-word;
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.blue {
    color: royalblue;
}