#map { 
    height: 500px; 
}

.trailTitle {
    display: flex;
    margin: 0;
}

.logo {
    width: 25%;
}

.asterisk {
    padding-left: 20px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}

.loop-direction {
    margin: 0;
}

.upload {
    display: flex;
    flex-direction: column;
}

#submit-trail-btn, #reset-trail-btn{
    margin: 5px;
}

.upload-btns, #choose-file, .submit-btns {
    display: flex;
    margin-top: 2%;
    margin-right: auto;
}

.change-trail-title, .select-trail-desc {
    text-align: left;
}

#validJson {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 100;
    color: red;
}

.template {
    text-align: left;
}

#json-info {
    text-align: left;
}

#json-template {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.select-trail-modal {
    text-align: center;
}

.upload-trail, .select-trail {
    display: flex;
    flex-direction: column;
}

#selectTrailLabel, #uploadTrailLabel {
    margin-right: 5%;
}

.info {
    font-size: small;
    cursor: pointer;
    color: rgb(99, 99, 99);
}

.change-trail-info {
    font-size: medium;
    cursor: pointer;
}

#change-trail {
    cursor: pointer;
}

.lightgray {
    color: lightgray !important;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#changeTrail {
    align-self: center;
}

#title {
    margin-bottom: 0;
}

.distance-unit {
    align-self: center;
    margin-left: auto;
}

#change-trail {
    align-self: end;
    margin-left: 1%;
}

.trailhead-col {
    display: flex;
    justify-content: space-between;
}

.hike-in-label, .hike-out-label {
    margin: auto;
    margin-right: 0;
}

.form-check-label {
    margin: 0;
}

#break {
    margin: 0;
}


.half-day-label {
    max-height: 1.5em;
}

.changeCampBtn {
    width: 90%;
    display: block;
    margin: auto;
}

.route-table {
    margin-bottom: 0;
    margin-top: 0;
    /* margin-top: 20px; */
    table-layout: fixed;
    word-wrap: break-word;
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.blue {
    color: royalblue;
}