.select-trail-modal {
    text-align: center;
}

.upload-trail, .select-trail {
    display: flex;
}

#selectTrailLabel, #uploadTrailLabel {
    margin-right: 5%;
}

.info {
    font-size: small;
    cursor: pointer;
    color: rgb(99, 99, 99);
}

#change-trail {
    cursor: pointer;
}

.lightgray {
    color: lightgray !important;
}

.title {
    display: flex;
}

.distance-unit {
    align-self: center;
    margin-left: auto;
}

#change-trail {
    align-self: end;
    margin-bottom: 1%;
    margin-left: 1%;
}

.trailhead-col {
    display: flex;
    justify-content: space-between;
}

.hike-in-label, .hike-out-label {
    margin: auto;
    margin-right: 0;
}

.form-check-label {
    margin: 0;
}

#break {
    margin: 0;
}

.loop-direction {
    margin: 2%;
}

.half-day-label {
    max-height: 1.5em;
}

.changeCampBtn {
    width: 90%;
    display: block;
    margin: auto;
}

.route-table {
    margin-top: 20px;
    table-layout: fixed;
    word-wrap: break-word;
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.blue {
    color: royalblue;
}